@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.hero {
  background-color:#24258d; 
  margin: 40px;
  font-family: "Montserrat", sans-serif;
  padding: 40px;
  border-radius: 20px;
  height: 60vh;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 968px) {
  .hero {
    display: flex;
    align-items: center;
  }
  .Image {
    display: none;
  }
  .text {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
    .text {
      text-align: center;
    }
    .Heading{
        font-size: xxx-large !important;
    }
    .btns{
        flex-direction: column;
    }
  }
